@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.app-title {
    color: #1e6ad5;
    font-weight: 700;
}

.tagline {
    font-weight: 300;
    color: #666;
    font-size: 1.5rem;
}

.description {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #444;
}

hr {
    border: none;
    border-top: 3px solid #e7e7e7;
    width: 60%;
    margin: 20px auto;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #1e6ad5;
    transform: translateY(-3px);
}

.features-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 0 -10px;
}

.feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    flex-basis: calc(25% - 20px);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.feature:hover {
    transform: translateY(-10px);
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.icon {
    font-size: 2.5rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .features-container {
        flex-wrap: wrap;
    }

    .feature {
        flex-basis: calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .feature {
        flex-basis: 100%;
    }
}
