/* Question.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .answers-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    margin-bottom: 20px;
  }
  .submit-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .submit-button:active {
    background-color: #1e7e34;
  }
  
  .answer {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  .answer:hover {
    background-color: #0056b3;
  }
  
  .answer.selected {
    background-color: #004080;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004080;
  }
  
  .feedback {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .feedback p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }

  .center-elo {
    text-align: center;
  }
  .score {
    font-size: 16px;
    color: #333;
  }
  .center-buttons {
    text-align: center;
  }

.answer {
  font-size: 20px; /* You can adjust the size as needed */
  padding: 10px 50px; /* You can adjust the padding as needed */
}

  
