body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F2F5;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #333333;
  font-size: 24px;
}

p {
  color: #555555;
  margin-bottom: 15px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  background-color: #007BFF;
  color: #FFFFFF;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.answer:hover {
  background-color: #0056B3;
}

.answer.selected {
  background-color: #004080;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056B3;
}

.feedback {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.center-buttons {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container, .answers-container, .center-buttons {
      flex-direction: column;
  }
}
